[2016-06-24 15:07] leandro-lucarella-sociomantic opened #1 "Add a make doc target to build API documentation"

[2016-07-01 10:10] leandro-lucarella-sociomantic opened #4 "Create a logo for Makd"
## Summary

Create a logo for a D build system we just open-sourced called Makd
## Brief Description

This is a build system to build D software base on GNU Make, another open source project. It basically transforms D source code to a program that can be ran.
## Why Makd is cool / important?

Makd simplifies the life of the developer by taking care or a lot of bookkeeping and details about how a p

[2016-07-13 18:51] andreas-bok-sociomantic opened #5 "Bug in README deb config example"
Using the [example](https://github.com/sociomantic-tsunami/makd#example) from README generates a warning when running packaging script.

ARGS should be defined as a literal array

[code]

[2016-07-14 07:05] llucax commented on #5
Fixed by d3275a0ecf650c5d1ec481af292b23426a237118.

[2016-08-01 09:18] mihails-strasuns-sociomantic opened #11 "Modify d1to2fix support after new version is released"
- collect all modules to be converted into list file (https://github.com/sociomantic-tsunami/d1to2fix/pull/4)
- modify automatic conversion target so that all submodules are converted in one step with main sources (need for performance reasons because of https://github.com/sociomantic-tsunami/d1to2fix/pull/3)

[2016-08-01 15:51] #5 closed, assigned to llucax

[2016-08-04 09:15] mathias-lang-sociomantic opened #14 "Package: Separate version and metadata"
Currently a user wishing to add metadata to a package has little means to do it.

My use case:
I have an app (`myapp`) that can compiler both in D1 and D2. I'd like this information to reflect in the package version, without affecting the precedence on version.

According to semver.org this kind of information should go into the metadata, which is provided "[...] by appending a plus sign and a ser

[2016-08-04 11:53] leandro-lucarella-sociomantic commented on #14
I think all in all, using the suffix might be the best solution for this. When supporting suffix properly, you should name files differently too (adding the suffix to files too). If you have configuration files that should be shared (and they shouldn't have the suffix) you can create a `myapp-common` package with them.

Another problem is semver scheme is incompatible with Debian packages version

[2016-08-04 16:01] mathias-lang-sociomantic commented on #14
In the current setup, I don't ever want both package installed at the same time. I think it has value to note that this specific application is compiled in D2, but it shouldn't be its own package.

Not yet. I settled on getting rid of the D2 mention for the time being, and seeing if we can find a better solution. But that would require me to either append at the end or parse `PKGVERSION` for `~` r

[2016-08-04 16:25] leandro-lucarella-sociomantic commented on #14
Yes, it will involve either parsing or building the version yourself. You could copy&paste the code in Makd for the latter. I know, not ideal, but it seems like a fairly obscure use case to add. I consider Makd provides an automatic version number and if you want to go beyond that, you should just provide your custom version number yourself.

[2016-08-04 16:26] leandro-lucarella-sociomantic commented on #14
But if you try it, please report if it works or not :)

[2016-08-10 12:01] dylan-cromwell-sociomantic commented on #4
@leandro-lucarella-sociomantic this has been submitted to Design. I will follow the project to its completion and post iterations here for your (and others') feedback. I have altered the deadline to 1.5 months later, 30/9/16 as I think giving more time is reasonable.

Also is it written "makd" or "Makd" ?

[2016-08-10 13:56] leandro-lucarella-sociomantic commented on #4
I would say "Makd", although I think it would be fine to use all lowercase if for some reason is better for the logo.

[2016-08-18 18:44] nemanja-boric-sociomantic commented on #1
Fixed in #15

[2016-08-18 18:44] #1 closed, assigned to nobody

[2016-09-26 14:44] mathias-lang-sociomantic opened #20 "Remove master and add v2.x.x"
As per our SemVer guidelines, the `master` branch should be removed, and a `v2.x.x` should be provided for future breaking changes.

[2016-09-28 13:36] leandro-lucarella-sociomantic commented on #20
Also the default branch v1.4.x is wrong, it should be v1.x.x.

[2016-09-28 13:39] leandro-lucarella-sociomantic commented on #20
I'm not sure if it makes sense to create a v2.x.x branch makes sense though, v2.x.x should be branched off when breaking changes are introduced, otherwise it just adds maintenance burden.

Once a PR is created for the v2.0.0 milestone (breaking changes), we can create the branch and change the base branch of the PR.

[2016-09-28 13:56] leandro-lucarella-sociomantic commented on #20
All updated now, I also removed the v1.4.x branch as it is 3 months old already.

[2016-09-28 13:56] #20 closed, assigned to leandro-lucarella-sociomantic

[2016-09-28 13:59] mathias-lang-sociomantic commented on #20
I asked for v2.x.x because I had a breaking change in mind :dancers:

[2016-09-28 15:46] leandro-lucarella-sociomantic commented on #20
Fire away! Just do it against v1.x.x and say is a breaking change that should go to v2.0.0.

[2016-10-10 01:12] Geod24 opened #23 "mkversion.sh refers to 'dmd1'"
[code]

Which comes from here:
https://github.com/sociomantic-tsunami/makd/blob/497a15fe5d6fe8a5079054b21df6295ab5fd1b22/mkversion.sh#L12

I thought [DC should be exported by Makd](https://github.com/sociomantic-tsunami/makd/blob/497a15fe5d6fe8a5079054b21df6295ab5fd1b22/Makd.mak#L103-L109), but apparently it isn't.

Also, there is a small typo in the usage:

[2016-10-10 08:23] nemanja-boric-sociomantic commented on #23
I can't reproduce, have you run it with `DVER=2`. Running `env` from `mkversion.sh` confirms that right `DC` variable is exported.

[code]

[2016-10-10 08:45] nemanja-boric-sociomantic commented on #23
OK, I could reproduce. The problem is in the first call of `mkversion`, run through `make`'s `shell` function which does not inherit exported variables:

https://github.com/sociomantic-tsunami/makd/blob/497a15fe5d6fe8a5079054b21df6295ab5fd1b22/Makd.mak#L221

[2016-10-10 08:52] nemanja-boric-sociomantic commented on #23
Addressed in #24

[2016-10-11 13:30] leandro-lucarella-sociomantic commented on #23
I wonder why GH is suddenly not closing issues anymore when a commit saying "Fixes #23" is merged.

[2016-10-11 13:30] #23 closed, assigned to nemanja-boric-sociomantic

[2016-10-11 13:31] nemanja-boric-sociomantic commented on #23
Because that PR was not merged against default branch I think.

[2016-10-11 13:32] nemanja-boric-sociomantic commented on #23
I wonder if GH would close this issue once v1.5.2 is merged to v1.x.x .

[2016-10-11 13:33] nemanja-boric-sociomantic commented on #23
https://help.github.com/articles/closing-issues-via-commit-messages/

[2016-10-19 13:47] dilkROM commented on #4
Hey @leandro-lucarella-sociomantic long time coming but the fantastic Khuyen has finished an early design. There are two choices / directions so far. Please let me know what you think and perhaps we can meet and discuss a bit in-person.

[makd.pdf](https://github.com/sociomantic-tsunami/makd/files/539180/makd.pdf)

[2016-10-20 08:16] #11 closed, assigned to nobody

[2016-10-26 10:05] leandro-lucarella-sociomantic commented on #4
Hi @dilkROM, thanks for the update! I think the second option is more on track, the first one seems too "nice" for a project like this one, too visual (even when it has a wink to the low level nature of the project by using binary). I think the second option is still too round-ish, and it feels too "web" too IMHO. When I see the logo I think it's a JS project.

For this project I think it would re

[2016-11-02 23:38] Geod24 opened #28 "Minor: fatal: Bad revision 'HEAD' while compiling without a first commit"
Currently, if one have made no commit to one's branch, upon compiling for the first time one will get the following output:

[code]

While it doesn't result in such a bad behaviour (it just generates `versionInfo["version"] = "";`), it doesn't sound robust as it's probably the first interaction an user will have with the tool.

[2016-11-17 09:54] dylan-cromwell-sociomantic commented on #4
Hey @leandro-lucarella-sociomantic, here I am, user-jumping again. 😆

But anyhow; the update is that I let Design know about your feedback. Stay tuned for more.

[2016-11-22 17:51] joseph-wakeling-sociomantic opened #30 "`make pkg` cannot handle UTF8 in commit messages"
It seems that if commit messages include UTF8 characters, `make pgk` will fail with an error message along the lines of the following:
[code]

This seems to come down to the following command in the `git-deblog` script:
https://github.com/sociomantic-tsunami/makd/blob/1446612df547465d402d349744e8cab0f1358dbf/git-deblog#L125

[2016-11-23 12:14] joseph-wakeling-sociomantic opened #32 "Auto-generated package dependencies don't consider versions"
When deb packages are generated by makd, dependencies are automatically generated.  However, these dependencies do not take versions into account, meaning that a package might successfully install on a machine with an older, incompatible library version.

[2016-11-23 15:55] joseph-wakeling-sociomantic opened #33 "`make pkg` cannot handle UTF8 in author/committer names"
This is the same problem as sociomantic/makd#30, but occurs in `get_git_author` instead:
https://github.com/sociomantic-tsunami/makd/blob/v1.x.x/git-deblog#L54-L65

Turns out unicode characters are a bit more widely spread in git history than just the commit messages ;-)

[2016-11-23 18:04] leandro-lucarella-sociomantic commented on #33
Even when that could be another source of trouble, the problem is in `ti = run('git cat-file tag'.split() + [t], stderr=PIPE)`. But this really tricky, because we can't really assume much about the encoding. It's very common for it to be UTF-8 but I think git doesn't enforce it in any way, so users could use another one.

By using [locale.getdefaultlocale()](https://docs.python.org/3/library/local

[2016-11-23 19:05] leandro-lucarella-sociomantic commented on #33
Everything seems to be working correctly, the problem reported here seemed to come from a misconfiguration.

Still, exploding in the user's face when a encoding problem is found is not cool, and a PR to fix that is coming up.

[2016-11-23 19:05] #33 closed, assigned to leandro-lucarella-sociomantic

[2016-11-23 22:09] llucax commented on #32
I'm tempted to close this as won't fix. MakD can't guess what are the exact version dependencies for your binaries. Just because you have a library version X installed, it doesn't mean it couldn't build with other versions, so just putting the current version would be too strict.

If you need that level of control for dependencies, you need to specify dependencies manually.

I actually will close

[2016-11-23 22:09] #32 closed, assigned to llucax

[2016-11-24 10:43] joseph-wakeling-sociomantic commented on #32
Sure, no problem.  I wonder though if there's a way to specify dependency version constraints in `Build.mak` or `Config.mak` such that `make pkg` could pick them up?

Seems like it would be less likely to get out of sync with actual dependencies this way.

[2016-11-24 13:10] leandro-lucarella-sociomantic commented on #32
What do you mean? You can specify them in the `.pkg` file.

[2016-11-24 13:19] joseph-wakeling-sociomantic commented on #32
OK, fair enough.

[2016-11-30 10:39] nemanja-boric-sociomantic opened #35 "Should `test/***/main.d` targets be run inside `$MAKD_TMPDIR` directory"
Currently, on `make test`, tests are run inside whatever the current directory is (most likely `$C`). If the tests are creating artifacts then they are mixed with the working directory contents.

Should it be better if the Makd automatically runs these tests inside `$MAKD_TMPDIR`, and even if it would create a sandbox for each `test-*` target?

[2016-12-01 12:56] mihails-strasuns-sociomantic commented on #35
This is generalization of turtle approach which has already worked very good - I naturally support it.

[2016-12-12 23:50] leandro-lucarella-sociomantic commented on #35
I wonder if some dockerness should be involved too. But maybe for now we can just (re-)create a per-test directory in the test and use that as the current working directory when running them.

That said, if you don't make sure to use proper temporary space in the test itself, if for some reason you want to run it manually, you will bump into the same problem, so I wonder if ocean should get an uti

[2017-01-31 19:30] mihails-strasuns-sociomantic opened #41 "Remove `-unittest` from default `test/` targets flags and run unittests in `test/` via `make unittest` instead"
Current proposed solution
=====================

* Remove `-unittest` when compiling integrations tests (`test/`) because they complicate debugging.

* When getting the files to run `unittest`s for the `make unittest` target, also consider the integration tests files (in `test/`), so integrations test there still ran at least in some context.

This is a good trade-off to have integration tests sti

[2017-02-01 15:02] leandro-lucarella-sociomantic commented on #41
As long as you are shamed in public, I'm fine with it :trollface:

Now being serious, I'm a bit concerned about user expectations here now. People might have started putting `unittest` blocks in `test/` and they'll expect for them to be tested too. So I think we need to go at least through a deprecation phase if we are going with this.

We could do:

1. Deprecation phase (v1.8.x)

   * Add a confi

[2017-02-10 15:34] mathias-lang-sociomantic commented on #41
Note that for us, we can test this with:

It's also possible that a testsuite have unittests. What do we do in that case ?

[2017-02-15 11:31] leandro-lucarella-sociomantic commented on #41
I don't understand what this means.

Yeah, that too, but being a test, you never want to compile a version of it that doesn't run unittests, so instead of using `unittest` blocks to test whatever, you can just put the code in a regular function and call all your "unit test" functions at the start of the main manually.

Documentation has to be very clear about this though.

[2017-02-15 11:34] leandro-lucarella-sociomantic commented on #41
OTOH, unittests for `test/` could be included in `make unittest`, so they won't be ran by `make integrationtest`. I think that could be a reasonable tradeoff.

[2017-02-17 13:53] leandro-lucarella-sociomantic commented on #35
I think we should definitely go for the explicit sandbox, as there is also the problem of tests that might have other file resources they could need to read to perform the test. In this case using a different CWD won't work. I think the test needs to know where are they being executed.

[2017-02-17 13:54] leandro-lucarella-sociomantic commented on #35
I'm tempted to close as `wontfix`.

[2017-02-17 13:55] nemanja-boric-sociomantic commented on #35
Feel free to do that. The next ocean release will have `Sandbox` facility, so this is not a problem anymore.

[2017-02-17 13:56] leandro-lucarella-sociomantic opened #49 "Add a test suite"
Every time changes are made to MakD, there is a high risk of breakage (last release v1.8.0 needed 2 immediate point release because they were broken).

We need to add a test suite sooner than later.

[2017-02-17 15:54] #35 closed, assigned to leandro-lucarella-sociomantic

[2017-02-24 16:24] leandro-lucarella-sociomantic opened #51 "Remove VAR.name"
https://github.com/sociomantic-tsunami/makd/pull/50 deprecated `VAR.name`, so it should be removed in v2.0.0.

[2017-03-01 18:34] mihails-strasuns-sociomantic commented on #41
I think this makes perfect sense and is best of both worlds.

[2017-03-14 13:08] mihails-strasuns-sociomantic opened #59 "Introduce standard `example` folder"
Having detailed well-documented usage examples improves learning curve a lot so it is common for more mature projects to provide those. Within current makd layout we are supposed to put them to `test` folder but that is not very convenient - examples may be expected to fail for the very purpose of example or imply some environment setup that is not practical for testing purpose. It is also harder

[2017-03-21 15:53] leandro-lucarella-sociomantic opened #62 "Makd: Don't generate a file importing all modules to create the unit tests"
This doesn't work properly with deprecated modules, as if the generated main imports the modules, the deprecations will be emitted anyway, which is not what we want.

We could just call `dmd` with all the same files we use to create the fake main.

----

@mihails-strasuns-sociomantic

----

@mathias-baumann-sociomantic

----

@mihails-strasuns-sociomantic

----

@leandro-lucarella-sociomantic

---

[2017-03-21 15:54] leandro-lucarella-sociomantic opened #63 "Run unittest on specific module"
Running `make unittest` it might take a long time and it's quite annoying if are working on a single file. It would be nice to be able to run `make unittest` on a single module like with dtest.

[2017-03-21 15:58] leandro-lucarella-sociomantic opened #64 "Why camel case for version info"
@gautam-kotian-sociomantic

[2017-03-21 15:59] leandro-lucarella-sociomantic commented on #64
No reason, or at best historical reason. We could clean it up for v2.0.0 but it should be deprecated right now.

[2017-03-21 16:25] mathias-lang-sociomantic commented on #62
Isn't that what `TEST_FILTER_OUT` is for ?

[2017-03-22 14:08] leandro-lucarella-sociomantic commented on #59
It seems like a good idea. I think ideally examples should be ran too, and if it's supposed to fail check that it does fail. Maybe some sort of special metadata should be included, like which output is expected, or which exit code (including options to ignore those). So this really serves as both complete tests and documentation. But the distinction seems important enough (writing examples and tes

[2017-03-22 22:54] mathias-lang-sociomantic opened #66 "Do not output colors for RDMD with DVER=2"
DMD2 already does it, so by default the path will be in red, and the rest of the message with the right color.

[2017-03-23 19:26] leandro-lucarella-sociomantic commented on #62
Not exactly, is a general feature that serves as a hack to manually cope with this issue :)

[2017-03-24 18:45] leandro-lucarella-sociomantic commented on #66
This would have to be an extremely special case, because colors are handled for all commands the same. For now if you use `DVER=2` a lot you can disable colors completely by using `COLOR=` when running `make` or adding it to `Config.local.mak`.

[2017-03-31 14:40] mathias-lang-sociomantic opened #73 "D2: Handle packages when building allunittests"
When calling `make test`, MakD will generate a file `build/$F/tmp/allunittests.d` importing all files in a project and all dependencies.

In D2, if a file is called `package`, it can act as a way to import the package.
E.g. the file `src/altered/package.d` can have `module altered;` as ModuleDeclaration.

However, since MakD seems to rely on the file <-> ModuleDeclaration association, this use cas

[2017-04-07 11:07] leandro-lucarella-sociomantic opened #74 "Use integrationtest instead of test (because of D2)"
Using `test` as a package name unnecessarily complicates testing in D2 as it clashes with the `test()` function. Because of this MakD should start accepting also `integrationtest/` as a location for integration tests. This is a bit longer and uglier but it should reduce considerably the chances of clashes.

If a project is using `test/` to store integration tests, a deprecation warning should be e

[2017-04-17 20:12] Geod24 opened #75 "Provide a way to allow multiple directories for submodules"
Currently, when adding the ImportPath to the command line, Makd does the following:
[code]

This is problematic for 2 reasons:
- `SRC` is used as the project's source directory, and its submodules, which means submodules have to follow the same convention as the project, or the other way around.
- One might need to depend on multiple projects which follow different conventions.
  `dub` allows `src

[2017-04-18 10:43] mathias-lang-sociomantic opened #76 "FUN.autodeps produce NoOp dependencies"
In one of our applications, I use `FUN.autodeps`.
Recently, as I was updating it on a server, I realized it failed to update `libdrizzle-redux`.
The old `libdrizzle-redux` used to compile the package was `v5.6.0`, but the server only had `v5.4.1`.
The newly deployed app required `v6.0.0` (hence a different soname, but at that time the package had the same name), and as a result failed to start bec

[2017-04-18 11:42] mathias-lang-sociomantic commented on #76
After investigation, packages are indeed installed on the first install. However they are never upgraded and no version check is performed, which can lead to surprising effects.

[2017-04-20 15:21] #64 closed, assigned to nobody

[2017-04-21 11:45] leandro-lucarella-sociomantic commented on #75
I'm not sure if it's worth adding such a complexity for exceptions. You can always add includes to `DFLAGS` if you have anything non-MakD-standard. I think this is a bit more verbose but safer and more reasonable than blindly passing a lot of `-I` options to the compiler in the hopes that someone will put interesting stuff there.

I'm very tempted to close this as `wontfix`... :)

[2017-04-21 11:52] leandro-lucarella-sociomantic commented on #76
What do you mean that they are not output to the screen?

[2017-04-21 12:03] leandro-lucarella-sociomantic commented on #76
OK, so the problem seems to be that `autodeps` doesn't specify any version. What dpkg does for what `autodeps` generates seems to make sense: if you don't declare dependencies with versions, it is expected that any package version will satisfy the dependency.

Maybe `autodeps` could specify versions as `pkg (>= {installed version})`, but this could be a bit restrictive. I'm not really sure about w

[2017-04-21 12:21] leandro-lucarella-sociomantic commented on #76
OK, the real program calculating dependencies is [dpkg-shlibdeps](http://manpages.ubuntu.com/manpages/xenial/en/man1/dpkg-shlibdeps.1.html) and I don't know what or how it does it, but it looks for minimal dependencies. I didn't use it because it needs to work over a `debian/control` file, but I just quickly hacked one to try it out and for this example I got:

[code]

It doesn't even pick a versi

[2017-04-21 12:23] leandro-lucarella-sociomantic commented on #76
As a first approximation maybe just specifying the dependencies with `pkg (>= {current})` might be a better default than what we have now. But again, these tools are just to simplify adding the basic dependencies, like `libc` and such. If your application directly and deeply uses some library, you should specify that dependency manually. (the problem now is we don't have a way to *override* the ma

[2017-04-27 16:11] mathias-lang-sociomantic commented on #75
Alright, the workaround is reasonable and works for me :)

[2017-05-11 13:30] #75 closed, assigned to nobody

[2017-06-02 11:26] leandro-lucarella-sociomantic commented on #74
Done now.

[2017-06-02 11:27] #74 closed, assigned to leandro-lucarella-sociomantic

[2017-06-02 11:28] leandro-lucarella-sociomantic commented on #51
Done.

[2017-06-02 11:28] #51 closed, assigned to leandro-lucarella-sociomantic

[2017-06-02 11:29] leandro-lucarella-sociomantic commented on #41
Also done.

[2017-06-02 11:29] #41 closed, assigned to leandro-lucarella-sociomantic

[2017-06-20 17:03] dylan-cromwell-sociomantic commented on #4
Coming in for an update. Same as Ocean, unfortunately, the current news is as follows:

@leandro-lucarella-sociomantic as can be expected Design is very busy with their daily work and we are not at a redesign yet. I've set a meeting to catch-up and see if we can help expedite the process at all. They've requested it be July or August. I will keep you updated with any significant news but as I've b

[2017-06-23 15:06] leandro-lucarella-sociomantic commented on #4
OK, no worries. This is just a nice treat for the project that can wait!

I will remove the old deadline to avoid confusion. I will keep it without one, it will happen when it happens :)

[2017-06-28 12:01] leandro-lucarella-sociomantic commented on #76
I'm looking into fixing this by using `dpkg-shlibdeps`, but still the de-duplication of dependencies is quite complex. I definitely don't want to parse every dependency exactly and start making decision on what to do with packages that appear more than once in the list but have a different version specification.

@mathias-lang-sociomantic was the repetition part of the problem or just an aesthetic

[2017-06-28 12:03] leandro-lucarella-sociomantic commented on #76
Avoiding duplicated dependencies when specifying multiple binaries (given that it is done in only one `autodeps()` call) should be fine, as I can pass all the binaries to `dpkg-shlibdeps` at once.

[2017-06-28 16:46] leandro-lucarella-sociomantic commented on #76
Changing milestone as this is a bug, so it should probably go to v1.8.x

[2017-06-28 17:01] leandro-lucarella-sociomantic commented on #76
Going back to v1.10.0 milestone, it seems like too much of a big change for a patch-release, it doesn't feel right risk-wise. #85 should fix this, mostly.

[2017-06-28 17:18] leandro-lucarella-sociomantic commented on #73
Should be addressed by  #86. This one is too a bit in the edge for a patch-release, since this never worked, I prefer to consider it a "new feature" and require people to upgrade if they want to use it.

[2017-06-29 00:09] mathias-lang-sociomantic commented on #76
I don't remember any issue. I was wondering how dkg would behave with different versions required for the same package but couldn't test anyway. I'll test the PR next week hopefully.

[2017-06-29 17:39] leandro-lucarella-sociomantic commented on #76
OK, soonish test is appreciated as I want to release v1.10.0 soon! :)

[2017-06-29 23:14] llucax commented on #76
OK, testing soon is very welcome as I would like to release v1.10.0 soon too.

[2017-07-09 11:05] mihails-strasuns-sociomantic opened #87 "Release v2.0.0"
v2.x.x branch has accumulated quite some changes that can't be yet used in apps because there is no tagged release for it. Would be nice to get v2.0.0 at the same time as v1.10.0

[2017-07-12 09:07] llucax commented on #87
Yeah, it is time. We should make sure to make any other cleanups /
breaking changes before the release.

[2017-07-13 10:38] mathias-lang-sociomantic opened #88 "Allow to specify which directories to convert for d2conv"
Currently, the `d2conv` rule will perform a `find` on `$C`, that is, the top level directory of the git repo in most cases.
We have a use case where we have D2 scripts in the `scripts` folder, which get `d1to2fix`ed anyway, resulting in a diff (and possibly invalid code).

Having a mean to override which directory the `find` will be performed on should be enough to solve this problem.

[2017-07-20 19:07] mathias-lang-sociomantic opened #89 "make d2conv doesn't take result into account"
[code]

[2017-07-26 10:04] llucax commented on #89
In theory the fix for this in MakD's side is very easy, but it is somehow tricky on `d1to2fix`. Are we sure `d1to2fix` is atomic in terms not really writing anything unless there will be no errors? If not, then if d1to2fix does a partial conversion, running it again will result in broken, doubly-converted, files.

/cc @mihails-strasuns-sociomantic

[2017-07-26 10:06] llucax commented on #89
For the records, the fix in MakD would be to just write to another temporary file instead of `$@` in https://github.com/sociomantic-tsunami/makd/blob/v1.8.4/Makd.mak#L666. Then write `$@` after `d1to2fix` finished.

[2017-07-26 10:08] mathias-lang-sociomantic commented on #89
I don't understand the rationale here. If there is an error the result is broken anyway, because `d1to2fix` can leave empty files.

[2017-07-26 10:45] llucax commented on #89
So then you need manual intervention. This is why MakD alone can't do much to deal with this situation, whatever is done by MakD, will leave the project broken.

[2017-08-25 15:42] #73 closed, assigned to leandro-lucarella-sociomantic

[2017-08-28 09:31] #59 closed, assigned to nobody

[2017-08-28 18:58] leandro-lucarella-sociomantic commented on #87
v1.10.0 was released, so we should be now able to release v2.0.0, but there were a couple of non-trivial conflict resolutions while rebasing on top of v1.10.0, so it would be nice if some brave are willing to update to the unreleased v2.0.0 (after going through v1.10.0 to have a smooth path probably) and do some real-world testing. I'm a bit concerned about releasing it without further testing in

[2017-08-28 18:58] leandro-lucarella-sociomantic commented on #87
Maybe @joseph-wakeling-sociomantic or @mathias-baumann-sociomantic or @nemanja-boric-sociomantic are good candidates?

[2017-08-28 19:00] leandro-lucarella-sociomantic commented on #87
Changes since v1.10.0: https://github.com/sociomantic-tsunami/makd/compare/v1.x.x...v2.0.0-rc1

[2017-08-28 19:17] leandro-lucarella-sociomantic commented on #87
I created https://github.com/sociomantic-tsunami/makd/releases/tag/v2.0.0-rc1 to make testing more encouraging :D

[2017-08-29 08:28] joseph-wakeling-sociomantic commented on #87
@leandro-lucarella-sociomantic happy to do some testing here, but would like to get all team apps upgraded to v1.10.0 first.

[2017-08-29 08:32] mihails-strasuns-sociomantic commented on #87
I will need to make compatibility release in turtle for for v2 before it can be widely tested

[2017-08-29 08:34] mihails-strasuns-sociomantic commented on #87
https://github.com/sociomantic-tsunami/turtle/issues/3

[2017-08-29 09:01] mihails-strasuns-sociomantic opened #91 "[REG v2] Can't have integration tests with same module name"
[code]

I think this must be consequence of 145edfcd5b050736176a1d0c1436e8c47796cf34 - all those module are now built in one go and thus must have distinct module names (== explicit module statements in this turtle case).

[2017-08-29 09:40] joseph-wakeling-sociomantic opened #92 "INTEGRATIONTEST deprecation message appears when no test directory is present"
Makd v1.10.0 has deprecated using the `test` directory for integration tests, and introduces a new preferred default of `integrationtest`.  Projects that do not meet this new standard will receive a warning message:

[code]

However, this warning message appears even if there is no `test` directory (i.e. no integration tests at all).  This seems a bit counter-intuitive, since the only reason the w

[2017-08-29 13:52] leandro-lucarella-sociomantic commented on #92
No, it doesn't. Makd so far doesn't check anything in your fs, it works purely on variables.

[2017-08-29 13:53] leandro-lucarella-sociomantic commented on #92
You tell makd where to find stuff, Makd is not supposed to do auto-discovery. I will check for the presence of `test/` because otherwise is true that you get bothered with a warning that doesn't affect you and you don't care, but I don't plan to add auto-discovery of directories to Makd.

[2017-08-29 14:22] leandro-lucarella-sociomantic commented on #91
So the issue here is neither [dmqfull/main.d](https://github.com/sociomantic/turtle/blob/v7.x.x/test/dmqfull/main.d) nor [dhtrestart](https://github.com/sociomantic/turtle/blob/v7.x.x/test/dhtrestart/main.d) have a `module` declaration, right?

I don't see how MakD could deal with this, I think you just have to have `module` declarations in you tests. But maybe we need to add it to the release not

[2017-08-29 14:26] mihails-strasuns-sociomantic commented on #91
Yep, so their module name defaults to just unqualified file name, which is `main`. Awkward thing is that I have been removing module declarations so that things can compile with 2.071.2 - and now it hits back in another away.

Fortunately Makd v2 will have `integrationtest` support as alternative way to fix 2.071.2 issue, so just explaining all this mess in release notes should be OK.

[2017-08-29 15:29] leandro-lucarella-sociomantic commented on #91
Could you write a migration note about this since you have the interactions more clear than me. I think I just reacted applying patches to workaround the problems you found :D

[2017-08-29 16:34] joseph-wakeling-sociomantic commented on #87
@leandro-lucarella-sociomantic for projects without integration tests:

[code]

... is a bit intrusive in the build log.

I also get an error message when building the `pkg` target:

[code]

... so do I presume right that the package name must now be explicitly set rather than inferred from the `.pkg` file name?  I don't think this is covered in the release notes.

[2017-08-29 16:36] leandro-lucarella-sociomantic commented on #87
maybe you should write integration tests :trollface:

[2017-08-29 16:36] leandro-lucarella-sociomantic commented on #87
nope, this looks like a regression.

[2017-08-29 16:36] joseph-wakeling-sociomantic commented on #87
Ahh, I was missing the `import defaults` which takes care of this.  Ignore.

[2017-08-29 16:37] leandro-lucarella-sociomantic commented on #87
Jokes aside, please report problems as separate issues.

[2017-08-29 16:37] leandro-lucarella-sociomantic commented on #87
(both problems you mention deserve their own issues)

[2017-08-29 16:40] joseph-wakeling-sociomantic opened #94 "Repeated `find` error messages for builds of projects with no integration tests"
When attempting to build a project without integration tests using v2.0.0-rc1, the following error message occurs multiple times in the build log:

[code]

This does not happen for v1.x.x, and feels a bit intrusive, so it would be nice if `find` could fail silently in these cases.

[2017-08-29 16:41] joseph-wakeling-sociomantic commented on #87
I don't think the second one is an actual problem.  I've raised an issue for the first.

[2017-08-29 17:43] mihails-strasuns-sociomantic commented on #91
[code]

[2017-09-01 13:36] joseph-wakeling-sociomantic opened #95 "v2.0.0 release notes should mention that -unittest flag is no longer used when building integration tests"
The v2.0.0 release no longer uses the `-unittest` flag (at least by default) when building integration test suites.  Since at least one application has been found whose integration tests relied on functionality inside a `version (UnitTest)` block, this change should be clearly documented in the release notes, with suggestions for how to address the problem.

[2017-09-01 15:17] leandro-lucarella-sociomantic commented on #95
Duplicate of #91. Sort of. Not really, but #91 will fix this one too. I will add there one more note about being careful with `version (UnitTest)` blocks.

PS: Wonderful, now GitHub doesn't mark duplicate issues as such anymore using the keyword...

[2017-09-01 15:17] #95 closed, assigned to leandro-lucarella-sociomantic

[2017-09-04 17:53] leandro-lucarella-sociomantic commented on #94
I will move this to v1.9.x because is a more general problem.

[2017-09-06 14:26] leandro-lucarella-sociomantic opened #96 "Explore fpm's --package-name-suffix option"
There is an option in fpm to add a suffix to the package name and dependencies:

[code]

We are doing that manually now, which means some of the work must be done by the package creator. We need to know exactly to which dependencies this applies to (since we don't want to apply it to system dependencies) but it could be useful if there is control over it.

[2017-09-08 13:01] leandro-lucarella-sociomantic commented on #87
It seems like we are ready to roll!

[2017-09-08 13:16] #87 closed, assigned to leandro-lucarella-sociomantic

[2017-09-12 15:10] gavin-norman-sociomantic opened #98 "List build flags / flabour in version info"
It would be really useful, say, to see if a binary was built with `-release` and so on.

[2017-10-13 14:56] mathias-lang-sociomantic opened #103 "ARGS warning message is misleading"
Whenever ARGS is empty, we get the following message:
[code]

The message suggest to use `ARGS=...` but since MakD v2.0.0 it's a builtin variable which should never be updated in place, yet this message recommends it.

[2017-10-16 17:40] mathias-lang-sociomantic opened #104 "The packages to build should be overrideable"
Currently it's not possible to filter out some package to have them not being built, because the `pkg` rule is: https://github.com/sociomantic-tsunami/makd/blob/602ca95549d6290e31fa96d1a119a452089c5d32/Makd.mak#L490

It would be nice to move this to a variable.

[2017-10-23 12:13] gavin-norman-sociomantic opened #106 "Add a way to re-test without re-building"

[2017-10-23 12:30] mihails-strasuns-sociomantic commented on #106
Biggest challenge is how to specify exact test to re-build. One could easily remove all `stamp` files but that would result in running _all_ tests.

What we would ideally want is shorter alias to `make -W build/last/tmp/test-something` (though I have just checked and `-W` doesn't seem to work as documentation says on ocean)

[2017-10-23 12:31] gavin-norman-sociomantic commented on #106
Even just that simple feature would be a big help.

[2017-10-23 16:22] leandro-lucarella-sociomantic commented on #106
If you don't mind some extra work, you can use `make -B`, which will just force rebuilding everything needed to get the target new.

To get something more useful, I guess the syntax will have to be something like `make retest TEST=blah` but to be honest, I'm not sure it's much easier to write than just doing `make -W $PWD/build/devel/tmp/test-something` (you need the full path and to use the real

[2017-10-24 08:22] gavin-norman-sociomantic commented on #106
This is exactly what this feature request is aiming to avoid. I want to rerun tests without having to rebuild anything.

[2017-10-24 08:31] gavin-norman-sociomantic commented on #106
Where is `-W` documented, by the way? (I've not heard of it before.)

[2017-10-24 10:22] leandro-lucarella-sociomantic commented on #106
So, you want to re-run a test without even re-compiling the test? Then the easiest way probably is to not involve MakD at all, just run: `build/devel/tmp/test-something`. Or do you want to re-run, **all** tests? (you could apply the same with all the `build/devel/tmp/test-*` but I understand is less practical.

Also, running the test manually would be more annoying if you are passing arguments to

[2017-10-24 10:27] gavin-norman-sociomantic commented on #106
As the issue title says, yes ;)

You have to manually specify loads of args, though, that way. (e.g. `--tmpdir`.)

[2017-10-24 10:28] nemanja-boric-sociomantic commented on #106
Hmm, now I remember that turtle trick:

[code]

Would this work?

[2017-10-25 07:48] gavin-norman-sociomantic commented on #106
Probably something like that could work. I'm not sure requiring each app to define such targets is the best solution, though.

I get the feeling maybe it's just me that thinks this proposed feature would be useful? (I need it _all the time!_)

[2017-10-25 07:50] gavin-norman-sociomantic commented on #106
To clarify why I need this feature all the time: the main situation is when debugging a problem that doesn't happen every test run. You need to repeatedly run the same tests in order to manifest the problem. Until I was told about the "delete all stamp files" thing, this involved `make clean && make test` every cycle, which is a major hassle.

[2017-10-25 07:55] mihails-strasuns-sociomantic commented on #106
For me personally it provides few added value compared to just removing `.stamp` manually or using `-W` flag. A bit more typing, sure, but same result. And if I am doing repeated debugging of same test, I usually put all such things into small temporary shell script anyway.

Of proposed options, `make retest` is strictly worse than using `-W` because it would run all tests instead of just one. `ma

[2017-10-25 08:21] gavin-norman-sociomantic commented on #106
It's easier to remember `make retest` than it is to remember `make -W $PWD/build/devel/tmp/test-something` or `rm build/devel/tmp/*.stamp ; make test`, but fair enough. Closing.

[2017-11-03 18:02] leandro-lucarella-sociomantic opened #107 "Support coverage in integrationtest"
To be able to support coverage in `integrationtest`s we need to make sure reports are stored in different directories for different tests, otherwise the last test will overwrite the previous ones.

Coming from https://github.com/sociomantic-tsunami/beaver/pull/1/commits/6c9e8b38a2101378385cfa2ffb38b5ea4dc7be2d#r148765824.

[2017-11-03 18:34] leandro-lucarella-sociomantic commented on #106
:man_facepalming:

[2017-11-03 18:36] leandro-lucarella-sociomantic commented on #106
I wonder if just making the default message when running the test program to include the full command with all the arguments shouldn't be enough. Then you can just copy&paste make's output to run it again.

[2017-11-03 18:37] leandro-lucarella-sociomantic commented on #106
Would that work, or do you still think it's better to add a specific command to run the tests again?

[2017-11-03 18:37] leandro-lucarella-sociomantic commented on #106
(reopening, I prefer to try to find something that is useful for developers and makes sense)

[2017-11-03 18:39] leandro-lucarella-sociomantic commented on #106
Specifically, what I'm thinking is something like:

[code]
instead of just:
[code]

IMHO this is simple and useful, because also adding a `make retest` will run **all** the tests again, when you probably want to run just one.

[2017-11-03 19:09] mihails-strasuns-sociomantic commented on #106
Doesn't help much as turtle uses makd defined environment variables and those are main reason why devs don't just run test binaries manually.

[2017-11-06 08:23] gavin-norman-sociomantic commented on #106
As I'm the only person so far to have expressed interest in such a feature and I've now discovered the stamp removal trick, I wouldn't investigate this further. (Unless other people pop up who want something along these lines.)

[2017-11-06 15:56] leandro-lucarella-sociomantic commented on #106
Oh, so the run must go through MakD. That's a bit annoying. I wonder if MakD could somehow write a turtle config to a file instead of passing via env, that way the config file would be created and a manual re-run can be performed. But things get a bit more hairy this way and maybe it's not justified.

OTOH, having a `make retest [t=name]` might be worth it then, maybe. But OK, since solutions seem

[2017-11-07 17:37] daniel-zullo-sociomantic opened #108 "Update documentation for integration tests"
From `v2.0.0` the integration tests default location changed from `test` to `integrationtest`.
The release notes for that release is correct but the current documentation for the project is outdated (it doesn't reflect the changes done in that release).

[2017-11-08 13:53] leandro-lucarella-sociomantic commented on #103
How was this warning triggered by the way? Now that it is a built-in it seems weird that that happens...

[2017-11-08 14:00] leandro-lucarella-sociomantic commented on #103
Oh, with empty args. To use empty args I think we need to change the `-s` to `empty` or something, which it's sort of a new feature. I guess for now I will add an error if `ARGS` is empty. What happens after the warning is triggered, does it fail to build the package?

[2017-11-08 14:10] mathias-lang-sociomantic commented on #103
I was upgrading from v1.x.x and forgot to change `ARGS=[...]` to `ARGS.update` IIRC.

[2017-11-08 14:20] leandro-lucarella-sociomantic commented on #103
OK, in this case you should get a warning, and I will suggest that case. If we want to support virtual packages in the future we might make use `ARGS.append(None)` or something to make it more explicit.

[2017-11-08 14:33] leandro-lucarella-sociomantic commented on #103
Done in the PR.

[2017-11-14 17:18] #103 closed, assigned to leandro-lucarella-sociomantic

[2017-11-15 16:00] leandro-lucarella-sociomantic commented on #107
Related to #99.

[2017-11-23 15:58] mathias-lang-sociomantic opened #111 "Makd v1.11.0 / v2.1.0 are broken"
Running MakD v2.1.0 will yield `sed: -e expression #6, char 29: unknown option to `s'`.
Moreover, `Version.d`'s module name is not replaced, leading to the following code:
[code]

Which obviously fails to compile.

[2017-11-24 23:56] leandro-lucarella-sociomantic commented on #111
This potentially affects v1.10.x and v2.0.x too (if some funny chars come in them).

[2017-11-30 12:30] mathias-lang-sociomantic commented on #111
Tested on my side, v2.1.1 works fine

[2017-11-30 12:30] #111 closed, assigned to nobody

[2017-11-30 19:40] leandro-lucarella-sociomantic commented on #111
Releasing! Sorry for the trouble!

[2018-01-05 19:34] leandro-lucarella-sociomantic opened #117 "Debian package versioning broken with pre-releases"
# Part 1

Makd translate project's version to debian package compatible versions and as part of this process, a *debian_revision* is added with the distribution name, gor example:
`v1.2.1 -> 1.2.1-xenial`

The problem with this scheme is it was done before we actually started using pre-releases, which include a hyphen (`-`) too. So if we add a pre-release part to that example, we end up with:
`v1.

[2018-01-08 09:21] mihails-strasuns-sociomantic commented on #117
Is it really needed? I mean I can't imagine a case when I would want to upgrade to the dirty version automatically.

[2018-01-08 10:58] leandro-lucarella-sociomantic commented on #117
No, but IMHO it's what it makes sense if we want to follow the "principle of least astonishment". A dirty package of a particular version will always be more *recent* than the original version.

I know it will only matter for development and then only if you are automatically updating using an apt repo, but still if it can be done in a way that it's more intuitive for users I don't see why we shou

[2018-01-10 15:49] leandro-lucarella-sociomantic opened #119 "Make `test` and other special variables user-overridables"
Right now the `test` variable, which controls what to be run for the `test` target, can be expanded (add more targets) but not completely replaced. This is problematic when trying to use MakD for projects that are not entirely D (which might be contradictory it actually prevent using MakD to test MakD :)

Right now MakD tests need to resort to a trick to disable unittests, which works a bit just o

[2018-01-15 13:47] #117 closed, assigned to leandro-lucarella-sociomantic

[2018-02-13 11:05] leandro-lucarella-sociomantic opened #121 "Unify paths"
In Makd there is, for historical reasons, `$T` which stores the absolute path to the root of the project, and then `$C` which does too for the current directory, in case `make` is invoked from a proect's subdirectory via `make -C test` for example.

This was never really used in MakD and the inconsistencies coming from users (and even `Makd.mak`) using different combinations of `$T`/`$C` and not u

[2018-02-13 11:11] joseph-wakeling-sociomantic commented on #121
Two thoughts on this:

* where possible, we don't want the absolute path to be present in any generated files (e.g. think of libraries where debug messages describe private details of developers' personal workspace layout)

* isn't it possible to do some kind of path-compare and eliminate the prefix that `$T` has relative to what `$C` has?  (i.e. given any path, chop off `$T` from it if possible)

[2018-02-14 14:04] leandro-lucarella-sociomantic commented on #121
Yeah, that's exactly what I'm proposing, to get rid of the absolute paths.

Yes, there is already something doing exactly that, it's used by the "nice output" function, they print relative paths for everything. But if we ditch the absolute paths completely, we don't need to care about doing those transformations anymore anyway... :)

[2018-02-14 14:05] leandro-lucarella-sociomantic commented on #121
https://github.com/sociomantic-tsunami/makd/blob/4209a062d9bf0fd08aaae2541e9115ec0f6f17bc/Makd.mak#L320-L326

[2018-02-22 21:24] leandro-lucarella-sociomantic commented on #107
Done via #115.

[2018-02-22 21:24] #107 closed, assigned to leandro-lucarella-sociomantic

[2018-05-25 12:09] leandro-lucarella-sociomantic opened #124 "Save test binaries"
When running tests, since the final target is a `test.stamp` instead of producing the binary (because we care about running them, not just building them), the test binaries themselves are considered intermediate files by Make, and normally removed automatically (even if a test failed).

To avoid this, we need to mark them as `.PRECIOUS:`, for example for integration tests:
[code]

[2018-05-28 12:39] mathias-baumann-sociomantic commented on #124
![image](https://user-images.githubusercontent.com/2702644/40614915-f7bf0018-6284-11e8-9154-86129dffb7a4.png)

[2018-09-06 15:41] joseph-wakeling-sociomantic opened #126 "Add an option to output build times for targets"
While D is famously fast to compile in general, one sometimes runs into nasty slowdowns.

To help track this, it would be useful if makd could generate timings for different targets and output a summary.  Ideally this would be output in a way that makes it possible to track stats over time, similar to coverage, so that we could observe outlier builds that may be associated with problematic code or

[2019-09-03 13:50] leandro-lucarella-sociomantic commented on #4
I don't think this will ever happen.

[2019-09-03 13:50] #4 closed, assigned to dylan-cromwell-sociomantic

[2019-09-09 08:34] Geod24 opened #128 "Phase out `version (UnitTest)`"
With the full transition to D2 done, there is no reason to use `version (UnitTest)` in projects anymore. Thus, the next major version of Makd should remove it, so that projects use `version (unittest)` instead. As a bonus point, this will make code compatible with more build system.

[2020-08-18 06:47] Geod24 commented on #89
I think we can just close this as WONTFIX

[2020-08-18 06:47] #89 closed, assigned to nobody

[2020-08-18 06:53] Geod24 opened #131 "Remove support for D1"
- Remove `DVER`;
- Make `DC` default to `dmd`;
https://github.com/sociomantic-tsunami/makd/blob/034a1f22efab1db08551f16dc283656891b6b935/Makd.mak#L104-L115

- Remove `d1to2fix` and `d2conv`
https://github.com/sociomantic-tsunami/makd/blob/034a1f22efab1db08551f16dc283656891b6b935/Makd.mak#L126-L127